<div class="card">
  <p-dataView #dv [value]="newsarray">
    <ng-template pTemplate="list" let-news>
      <div class="grid grid-nogutter">
        <div
          class="col-12 md:col-6 lg:col-6 xl:col-6"
          *ngFor="let item of news"
        >
          <div
            class="flex flex-column md:flex-row gap-4 p-4 border border-rounded shadow-sm"
          >
            <div class="flex-shrink-0 md:w-10rem relative">
              <img
                class="block xl:block mx-auto border-round w-full h-auto"
                [src]="item.image"
                [alt]="item.title"
                (error)="handleImageError($event)"
              />
              <p-tag
                [value]="item.category"
                [severity]="'info'"
                class="absolute"
                [style.left.px]="4"
                [style.top.px]="4"
              />
            </div>

            <div class="flex flex-column flex-1 gap-3">
              <div class="flex flex-column md:flex-row gap-4">
                <div class="flex flex-column gap-2">
                  <div class="text-lg font-medium text-900">
                    {{ item.title }}
                  </div>
                  <p class="text-sm text-600">{{ item.description }}</p>

                  <div class="text-sm text-gray-600">
                    Author: {{ item.author }}
                  </div>
                  <div class="text-sm text-gray-600">
                    Source: {{ item.source }}
                  </div>
                  <div class="text-sm text-gray-600">
                    Language: {{ item.language }}
                  </div>
                  <div class="text-sm text-gray-600">
                    Country: {{ item.country }}
                  </div>
                  <div class="text-sm text-gray-600">
                    Published at: {{ item.published_At | date : "short" }}
                  </div>
                </div>
              </div>

              <div class="flex flex-row justify-between mt-auto">
                <p-button
                  label="Read More"
                  class="white-space-nowrap"
                  (click)="openUrl(item.url)"
                ></p-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataView>
</div>
